# Project requirements for modified_deepsort

numpy
torch
torchvision
ultralytics
torchreid
opencv-python-headless
matplotlib
tqdm
scipy
opencv-python
Pillow
git+https://github.com/cheind/py-motmetrics.git
